@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url("./colors.css");

* {
  margin: 0;
  padding: 0;
  inset: 0;
  font-family: "Open Sans", sans-serif
}

main {
  min-height: 70vh;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
}